/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: "avenir";
  src: url("../font/avenir.otf");
}

.backgroundImg {
  background-image: url(../img/home-alone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.backgroundFilter {
  background-image: -webkit-linear-gradient(120deg, #00f2cd 0%, #21daeb 100%);
}


/*<!-- ============================= -->*/


/*<!-- =============NAV MOBILE============= -->*/


/*<!-- ============================= -->*/


/*Navigation List */

.navnormal {
  display: none;
}


/*Burger Wrapper */

.burger-wrapper .mobile-nav-signin {
  position: fixed;
  top: 27px;
  right: 20px;
  z-index: 501;
  font-family: "avenir";
  font-size: 17px;
  font-weight: bold;
  color: #FFF;
  letter-spacing: -1px;
  text-decoration: none;
}

.burger-wrapper .btn-burger {
  position: fixed;
  left: 20px;
  top: 22px;
  width: 38px;
  height: 38px;
  border: none;
  background: transparent;
  outline: none;
}

.btn-burger span.l {
  position: absolute;
  left: 0;
  top: 18px;
  display: block;
  width: 36px;
  height: 2px;
  background-color: #fff;
}

.btn-burger .l1 {
  margin-top: -7px;
}

.btn-burger .l3 {
  margin-top: 7px;
}


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*Navigation Mobile*/

.navnormalMobile {
  display: flex;
}

.navnormalMobile .navlogoMobile {
  width: 39px;
  height: 35px;
  left: 35%;
  z-index: 501;
  position: fixed;
}

.navnormalMobile .navlogoMobile a svg {
  fill: #FFF;
}


/* The Overlay (background) */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(247,158,2,.97);
  overflow-x: hidden;
}


/* Position the content inside the overlay */

.overlay-content {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 50px;
  color: #FFF;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/*<!-- ==================================== -->*/


/*<!-- =============END OF NAV MOBILE============= -->*/


/*<!-- ==================================== -->*/


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*<!-- ============================= -->*/


/*<!-- =============MAIN============= -->*/


/*<!-- ============================= -->*/


/*Title, Subtitle and Text*/

.mainContent {
  display: flex;
  flex-direction: column;
  padding-top: 8em;
}

.mainContent h1 {
  font-family: "avenir";
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  margin: 100px 40px 20px;
  color: #FFF;
}

.mainContent .subTitle {
  font-family: "avenir";
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: -1px;
  color: #FFF;
  margin: 0px;
}

.mainContent .subTitle #sendButton {
  padding: 14px 30px 12px 30px;
  margin: 0 14px;
  font-family: "avenir";
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 2px;
  vertical-align: middle;
}


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*Formulaire*/

.mainContent .signUpform .formSS{
  margin-left: 13%;
}

.mainContent .signUpform p {
  font-family: "avenir";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #FFF;
  margin-top: 2em;
}

.mainContent .signUpform #formSignUpp {
  width: 90%;
  height: 60px;
  font-family: "avenir";
  font-size: 18px;
  border: none;
  border-radius: 30px;
  color: #7c8a96;
  text-align: center;
  margin: auto;
}

.mainContent .signUpform .joinButton {
  height: 60px;
  width: 90%;
  font-family: "avenir";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFF;
  padding: 5.5px 50px;
  background-color: #f79e02;
  border: 2px solid #f79e02;
  border-radius: 30px 30px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.mainContent .lastPara {
  font-family: "avenir";
  font-size: 24px;
  letter-spacing: -1px;
  color: #FFF;
  text-align: center;
  margin: auto;
  margin-top: 1.5em;
  width: 85%;
}


/*<!-- ==================================== -->*/


/*<!-- =============END OF MAIN============ -->*/


/*<!-- ==================================== -->*/


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*<!-- ============================= -->*/


/*<!-- =============FOOTER============= -->*/


/*<!-- ============================= -->*/
footer
{
  display: flex;
  flex-direction: column;
}
footer .blockEmail
{
  background-color: #f6f9f9;
  padding: 55px 20px;
}

footer .blockEmail p
{
  font-size: 18px;
  font-family: "avenir";
  color: #7c8a96;
}

footer .blockEmail form input
{
  border: none;
  border-bottom: 2px solid #18e2bf;
  background-color: transparent;
  font-family: "avenir";
  font-size: 30px;
  font-weight: bold;
  outline: none;
  padding-top: 45px;
}

footer .blockEmail form input::-webkit-input-placeholder
{
  color: #18e2bf;
}

footer .blockAbout
{
  display: flex;
  padding: 55px 10px 45px 20px;
}

footer .blockAbout ul
{
  list-style-type: none;
  width: 50%;
  padding: 0;
  font-family: "avenir";
}

footer .blockAbout .listLeft
{
  font-size: 18px;
  color: #242930;
}


footer .blockAbout .listLeft li
{
  padding-bottom: 20px;
}

footer .blockAbout .listRight
{
  font-size: 14px;
  color: #7c8a96;
}

footer .blockAbout .listRight li
{
  padding-bottom: 10px;
}

footer .blockAbout .listRight li a
{
  color: #18e2bf;
  text-decoration: none;
}
















@media (min-width: 600px)
{
  /*Ilyes CSS*/
  .mainContent h1 {
    font-size: 55px;
  }
  .mainContent .subTitle {
    font-size: 35px;
    width: 100%;
  }

  .mainContent .signUpform #formSignUpp {
    padding-left: 30px;
    margin: 0;
    width: 40%;
  }

  .mainContent .signUpform .joinButton {
    margin: 0;
    width: 40%;
  }
  /*End of Ilyes CSS*/
}
@media (min-width: 900px) {
  body {
    margin: 16px 16px 0px 16px;
  }
  /*~~~~~~~~~~~~~~~~~~~~~*/
  /*Ilyes CSS*/
  /*Navigation List*/
  .navnormalMobile, .burger-wrapper {
    display: none;
  }
  .navnormal {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
  }
  .navnormal ul {
    display: flex;
    list-style-type: none;
    margin-top: 1.5em;
    font-family: "avenir";
  }
  .navnormal ul li {
    margin-right: 10px;
    font-size: 20px;
  }
  .navnormal ul li a {
    color: #FFF;
    text-decoration: none;
  }
  .navnormal .signli li:nth-child(1) {
    padding-right: 40px;
    margin-top: 5px;
  }
  .navnormal .signli li:nth-child(2) {
    padding: 5.5px 25px;
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 30px 30px;
    font-size: 16px;
    margin-right: 2em;
  }
  .navnormal .signli li:nth-child(2) a {
    color: #0ce9d9;
  }
  /*~~~~~~~~~~~~~~~~~~~~~~*/
  /*Navigation Logo*/
  .navnormal .navlogo a {
    width: 47px;
    height: 42px;
  }
  .navnormal .navlogo a svg {
    fill: #FFF;
  }

  /*Footer*/
  footer
  {
    flex-direction: row-reverse;
  }

  footer .blockEmail, footer .blockAbout
  {
    width: 50%;
  }

  footer .blockEmail p
  {
    font-size: 28px;
  }

  footer .blockAbout .listLeft
  {
    font-size: 20px;
  }

  footer .blockAbout .listRight
  {
    font-size: 17px;
  }
  /*~~~~~~~~~~~~~~~~~~~~~~*/
  /*End of Ilyes CSS*/
  /*~~~~~~~~~~~~~~~~~~~~~*/
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
