/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: "avenir";
  src: url("../font/avenir.otf");
}

.backgroundImg {
  background-image: url(../img/home-alone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.backgroundFilter {
  background-image: -webkit-linear-gradient(120deg, #00f2cd 0%, #21daeb 100%);
}


/*<!-- ============================= -->*/


/*<!-- =============NAV MOBILE============= -->*/


/*<!-- ============================= -->*/


/*Navigation List */

.navnormal {
  display: none;
}


/*Burger Wrapper */

.burger-wrapper .mobile-nav-signin {
  position: fixed;
  top: 27px;
  right: 20px;
  z-index: 501;
  font-family: "avenir";
  font-size: 17px;
  font-weight: bold;
  color: #FFF;
  letter-spacing: -1px;
  text-decoration: none;
}

.burger-wrapper .btn-burger {
  position: fixed;
  left: 20px;
  top: 22px;
  width: 38px;
  height: 38px;
  border: none;
  background: transparent;
  outline: none;
}

.btn-burger span.l {
  position: absolute;
  left: 0;
  top: 18px;
  display: block;
  width: 36px;
  height: 2px;
  background-color: #fff;
}

.btn-burger .l1 {
  margin-top: -7px;
}

.btn-burger .l3 {
  margin-top: 7px;
}


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*Navigation Mobile*/

.navnormalMobile {
  display: flex;
}

.navnormalMobile .navlogoMobile {
  width: 39px;
  height: 35px;
  left: 42%;
  z-index: 501;
  position: fixed;
}

.navnormalMobile .navlogoMobile a svg {
  fill: #FFF;
}


/* The Overlay (background) */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(247,158,2,.97);
  overflow-x: hidden;
}


/* Position the content inside the overlay */

.overlay-content {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 50px;
  color: #FFF;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/*<!-- ==================================== -->*/


/*<!-- =============END OF NAV MOBILE============= -->*/


/*<!-- ==================================== -->*/


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*<!-- ============================= -->*/


/*<!-- =============MAIN============= -->*/


/*<!-- ============================= -->*/


/*Title, Subtitle and Text*/

.mainContent {
  display: flex;
  flex-direction: column;
  padding-top: 8em;
}

.mainContent h1 {
  font-family: "avenir";
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  margin: 100px 40px 20px;
  color: #FFF;
}

.mainContent .subTitle {
  font-family: "avenir";
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: -1px;
  color: #FFF;
  margin: 0px;
}

.mainContent .subTitle #sendButton {
  padding: 14px 30px 12px 30px;
  margin: 0 14px;
  font-family: "avenir";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 2px;
  vertical-align: middle;
}


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*Formulaire*/

.mainContent .signUpform {
  margin: auto;
}

.mainContent .signUpform p {
  font-family: "avenir";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #FFF;
  margin-top: 2em;
}

.mainContent .signUpform #formSignUpp {
  width: 20em;
  height: 60px;
  font-family: "avenir";
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  color: #7c8a96;
}

.mainContent .signUpform .joinButton {
  height: 60px;
  font-family: "avenir";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFF;
  padding: 5.5px 50px;
  background-color: #f79e02;
  border: 2px solid #f79e02;
  border-radius: 30px 30px;
  text-transform: uppercase;
}

.mainContent .lastPara {
  font-family: "avenir";
  font-size: 28px;
  letter-spacing: -1px;
  color: #FFF;
  text-align: center;
  margin-top: 1.5em;
}


/*<!-- ==================================== -->*/


/*<!-- =============END OF MAIN============ -->*/


/*<!-- ==================================== -->*/


/*Mathieu CSS*/


/*End of Mathieu CSS*/


/*Ilyes CSS*/


/*End of Ilyes CSS*/

/*===================================================================*/

                                 /*Sahbia*/


       /*-------------- STYLE OF HEADER (mobile)--------------*/ 

#header-pricing
{
  background: -moz-linear-gradient( rgb(65,87,231),rgb(65,125,231), rgb(65,219,231)); 
  height: 100vh;

}
#header-pricing .titre-pricing
{
  font-size: 40px;
  line-height:48px;
}

#header-pricing .pricing

{ 
  color: white;
  margin-top: 50px;
  font-family: "avenir";
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 #header-pricing .pricing .pricing-p
 {
   font-size: 20px;
   font-weight: bold;
   line-height: 28px;

 }
 #header-pricing .pricing .connect
 {
   margin-top: 50px;
   font-size: 18px;
 }
                        /*-------------- STYLE OF CHIFFRES SECTION (mobile)--------------*/ 

 .chiffres
 {
  background-color: rgb(246,249,249);
  padding-top: 30px;
  border: 1px solid black;

 }


 .chiffres .connect
 {
  
   font-size: 20px;
   color: rgb(110,118,129);
   font-weight: bold;
   margin-bottom: 40px;
 }
 .chiffres  .connect .icon-pricing
 {
   color:rgb(132,147,238);
 }

 .chiffres .titre-chiffres
{
  font-size: 20px;
  color: rgba(65,87,231,1);
   margin:50 auto 0 auto;
  opacity:1;
}
.chiffres .titre-chiffres .month
{
  color: black;
}
.chiffres .titre-chiffres  .year, .chiffres .titre-chiffres .month
{
  font-size: 20px;
} 


.chiffres .titre-chiffres  .year
{
  transition: color  .35s ease-in-out;
  margin-left: 10px;
}
.chiffres .titre-chiffres  .year:hover
{
  color:black;
}
           /*============STYLE PRICES ARTICLE==========*/

.chiffres .prices
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*border: 2px solid green*/
}
.chiffres .prices .price 
{
    
    padding: 0px;
    /*background-color: rgb(218,225,235);*/
    margin-bottom: 20px;
    border-radius: 8px;
    width: 350px;
    
} 

 .price .entete-price 
 {
  
   border-radius: 5px;
   border:3px solid red;
   
 } 
 .price .entete-price .price-titre  
 {
   padding-bottom: 20px;
   color: rgb(67,85,205);
   font-size: 18px;
   font-weight: bold;
 }  
 .price .entete-price .price-chifre 
 {
   display: flex;
   justify-content:center;
   /*border:1px solid red;
*/
 } 
 .price .entete-price .price-chifre .price-vlaue
 {
   /*border:1px solid green;*/
   align-self: center;


 }
.price .entete-price .price-chifre .first-value
{
  font-size: 8em;
}
.price .entete-price .price-chifre .scond-value

{
  font-size: 1.5em;
}
 .euro-dalars
 {
   /*border :1px solid orange;*/
   font-size: 3em;
 }


 .price .entete-price .price-chifre ul 
 {
    display :flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
  }
  .price .entete-price .price-chifre .euro-dalars ul  li a 
  {
    text-decoration: none;
    /*color: black;*/
  }
  .price .entete-price .price-chifre .euro-dalars  .dollars ul  a i 
  {
    
    color:rgba(59,78,204,0.1);
  }
                /*===========color price article==============*/
  #first-price, #eudo-first ul  li a 
{
  color:rgb(59,78,204);
}
#second-price .entete-price
{
  background-color: rgb(109,152,230);
}
#second-price, #eudo-second ul  li a, #second-price .price-titre 
{
  color:white;
}

#third-price .entete-price
{
 background-color:  rgb(59,78,204);
}
#third-price, #eudo-third ul  li a, #third-price .price-titre 
{
  color:white;
}
#four-price .entete-price
{
  background-color: rgb(247,158,2);
}
#four-price, #eudo-four ul  li a, #four-price .price-titre 
{
    color:white;
} 

.price .boutton
{
  margin-top: 20px;
  margin-bottom: 20px;
   
}
.btn
{
  border-radius: 20px;
  border:2px solid white;
  height: 45px;
  line-height: 36px;
   padding: 5px 20px;
  
}
#btn-first
{
  background-color: rgb(218,225,235);
  border-color: rgb(59,78,204);
  
}
#btn-first a
{
  color: rgb(59,78,204);
}
#btn-second
{
  background-color: rgb(109,152,230);
  border-color: white;
  
}
#btn-second a, #btn-third a
{
  color: white;
}
#btn-third
{
  background-color: rgb(59,78,204); 
  border-color: white;
  
}

#btn-second a, #btn-four a
{
  color: white;
}
#btn-four
{
  background-color: rgb(247,158,2);
  border-color: white;
}

.price .boutton .btn a
{
  text-decoration: none;
  color:white;
}

.text-four
{
  color: 7#c8a96;

}
.text-four p
{
  margin:30px;
}
.price .detail
{
   height: 50px;
   background-color: rgb(200,205,214);

}
#description1
{
  display: none;
}
.price .detail p
{
    font-size: 20px;
    padding-top: 8px;
    color: white;
}
.price .detail:hover #description1
{
   display: block;
}


                   /*============STYLE Slider section==========*/ 
.slider
{
  width: 90%;
  height: 600px;
  margin: auto;
}
 .slider .slides 
 {
  background-color: transparent;
 }
                  /*============STYLE CAESAR section==========*/ 
 
 .caesar 
 {
  display: flex;
  flex-direction: column;

 } 
.photocaesar
{
  background:url('../img/ceaser.jpg');
  background-size: cover;
  height: 500px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photocaesar .casear-texte1
{
  margin: auto;
  font-family: 'Keania One', cursive;
  font-size: 50px;
  max-width: 500px;
  
}
 .photocaesar .casear-texte blockquote
{
  font-size: 45px;
  line-height: 50px;
  margin: auto;
  border: none;
  quotes: "\201C""\201D""\2018""\2019"
}
.photocaesar .casear-texte2
{
  text-transform: uppercase;
  color: rgba(255,255,255,.2);
  font-size: 14px;
  margin-bottom: 40px;
} 
 .caesar .mostcompanie
{
  background-color: rgb(240,68,46);
  font-size: 20px;
  padding-top:0px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

           /*============STYLE CAUSES section==========*/ 

.causes
{
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titre-causes
{
  font-size: 25px;
  text-align: center;
}
.causes .good
{
  width: 70%;
  margin: auto;
}
.causes .good p
{
  color:#6a7681;
  font-size: 19px;
  line-height: 1.8em;
  word-spacing: 5px;
}


.universite-nonprofit
{
  display: flex;
  justify-content: space-between;
  width: 500px;

}
.universite-nonprofit .nprofit
{
  margin-right: 20px;
}
.causes-image 
{
  margin: auto;
}
.universite-nonprofit .universite
{
  margin-left: 20px;
}


                   
                    /*===========MEDIA QUERY SAHBIA=============*/



@media (min-width: 700px) 
{
 
 #header-pricing
 {
  /*position: relative;*/
 }

.prices
{
  position: relative;
  top:-8em;
  
}
.chiffres
{
  height: calc(attr(height)-8em);
}

.chiffres .container 
{
  width: 100%;

  /*border:1px solid black;*/
} 

.chiffres .prices .price
{
   width: 300px;
   margin-left: 20px;
   margin-right: 20px;
   height: auto;
}
#four-price .text-four
{
  margin-bottom: 60px;
  margin-top: 60px;
}

/*.chiffres .prices .price
    
{
  max-width: 330px;
  margin:auto;
 
}*/
.chiffres .prices #first-price
 {
  /*margin-right:30px; */
 }

 .description-price 
 {
  background-color: white;
  padding-bottom: 0px;
  height: 500px;
  color: rgb(152,163,172);
  
   z-index: 100;
 }
 .description-price  ul
 {
  list-style-type: none;

 }
 #titre-second
 {
  color:rgb(109,152,230);
 }
 #titre-third
 {
  color:rgb(59,78,204);
 }
 #titre-four 
 {
  color: rgb(247,158,2);
 }
 #titre-second, #titre-third, #titre-four, #titre-first 
 {
   padding-top: 25px;
 }
 .slider-pricing
 {
  position: relative;
  top:-20em;
  background-color: rgb(246,249,249);
 } 
  
 


} 
@media (min-width: 900px) 
{

.chiffres .prices .price
{
   width: 340px;
   margin-left: 20px;
   margin-right: 20px;
}


}
@media (min-width: 1200px)
{
   
  .chiffres .prices
 {
   justify-content: center;
   flex-wrap: nowrap;
 }
.chiffres .prices .price
 {
    width: 287px;
   margin-left: 0px;
   margin-right: 0px;
}
 

.price #boutton-first, .price #button-second, .price #boutton-third  
{
     display: none;
}
.prices #first-price:hover
{
     border: 2px solid rgb(218,225,235);

}
.prices #second-price:hover
  {
     border: 2px solid rgb(109,152,230);

  }
  .prices #third-price:hover
  {
     border: 2px solid rgb(59,78,204);

  }
  .prices #four-price:hover
  {
     border: 2px solid rgb(247,158,2); 
  }
  .prices #first-price:hover  #boutton-first 
  {
     display: block;

  }
  .prices #second-price:hover  #button-second

  {
    display: block;
  }
  .prices #third-price:hover  #boutton-third
  {
    display: block;
  }
  
  .prices #second-price, .prices #first-price, .prices #third-price, .prices #four-price:
  {
    transition: height border  0.8s;
  }

  
 
 .prices
  {
    position:static;
    
  }

 .caesar
 {
   flex-direction: row;
 }
.photocaesar
{
  width: 50%;
}
.mostcompanie
{
  width: 50%;
}


.causes
{
 
  height: 500px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.good
{
  /*width: 20%;*/
}
.good p
{
  width: 50%;
  margin:auto;
}

.universite-nonprofit
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;

}



}





/*End of Sahbia CSS*/

@media (min-width: 900px) {
  body {
    margin: 16px 16px 0px 16px;
  }
  /*Mathieu CSS*/
  /*End of Mathieu CSS*/
  /*~~~~~~~~~~~~~~~~~~~~~*/
  /*Ilyes CSS*/
  /*Navigation List*/
  .navnormalMobile, .burger-wrapper {
    display: none;
  }
  .navnormal {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
  }
  .navnormal ul {
    display: flex;
    list-style-type: none;
    margin-top: 1.5em;
    font-family: "avenir";
  }
  .navnormal ul li {
    margin-right: 10px;
    font-size: 20px;
  }
  .navnormal ul li a {
    color: #FFF;
    text-decoration: none;
  }
  .navnormal .signli li:nth-child(1) {
    padding-right: 40px;
    margin-top: 5px;
  }
  .navnormal .signli li:nth-child(2) {
    padding: 5.5px 25px;
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 30px 30px;
    font-size: 16px;
    margin-right: 2em;
  }
  .navnormal .signli li:nth-child(2) a {
    color: #0ce9d9;
  }
  /*~~~~~~~~~~~~~~~~~~~~~~*/
  /*Navigation Logo*/
  .navnormal .navlogo a {
    width: 47px;
    height: 42px;
  }
  .navnormal .navlogo a svg {
    fill: #FFF;
  }
  /*~~~~~~~~~~~~~~~~~~~~~~*/
  /*End of Ilyes CSS*/
  /*~~~~~~~~~~~~~~~~~~~~~*/
  /*Sahbia CSS*/
  /*End of Sahbia CSS*/
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
