/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: "avenir";
  src: url("../font/avenir.otf");
}

.backgroundImg {
  background-image: url(../img/home-alone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.backgroundFilter {
  background-image: -webkit-linear-gradient(120deg, #00f2cd 0%, #21daeb 100%);
}


/*<!-- ============================= -->*/


/*<!-- =============NAV MOBILE============= -->*/


/*<!-- ============================= -->*/


/*Navigation List */

.navnormal {
  display: none;
}


/*Burger Wrapper */

.burger-wrapper .mobile-nav-signin {
  position: fixed;
  top: 27px;
  right: 20px;
  z-index: 501;
  font-family: "avenir";
  font-size: 17px;
  font-weight: bold;
  color: #FFF;
  letter-spacing: -1px;
  text-decoration: none;
}

.burger-wrapper .btn-burger {
  position: fixed;
  left: 20px;
  top: 22px;
  width: 38px;
  height: 38px;
  border: none;
  background: transparent;
  outline: none;
}

.btn-burger span.l {
  position: absolute;
  left: 0;
  top: 18px;
  display: block;
  width: 36px;
  height: 2px;
  background-color: #fff;
}

.btn-burger .l1 {
  margin-top: -7px;
}

.btn-burger .l3 {
  margin-top: 7px;
}


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*Navigation Mobile*/

.navnormalMobile {
  display: flex;
}

.navnormalMobile .navlogoMobile {
  width: 39px;
  height: 35px;
  left: 42%;
  z-index: 501;
  position: fixed;
}

.navnormalMobile .navlogoMobile a svg {
  fill: #FFF;
}


/* The Overlay (background) */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(247,158,2,.97);
  overflow-x: hidden;
}


/* Position the content inside the overlay */

.overlay-content {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 50px;
  color: #FFF;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/*<!-- ==================================== -->*/


/*<!-- =============END OF NAV MOBILE============= -->*/


/*<!-- ==================================== -->*/


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~*/





/*<!-- ============================= -->*/


/*<!-- =============MAIN============= -->*/


/*<!-- ============================= -->*/



/*Title, Subtitle and Text*/

.mainContent {
  display: flex;
  flex-direction: column;
  padding-top: 8em;
}

.mainContent h1 {
  font-family: "avenir";
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  margin: 100px 40px 20px;
  color: #FFF;
}

.mainContent .subTitle {
  font-family: "avenir";
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: -1px;
  color: #FFF;
  margin: 0px;
}

.mainContent .subTitle #sendButton {
  padding: 14px 30px 12px 30px;
  margin: 0 14px;
  font-family: "avenir";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 2px;
  vertical-align: middle;
}


/*~~~~~~~~~~~~~~~~~~~~~~*/


/*Formulaire*/

.mainContent .signUpform {
  margin: auto;
}

.mainContent .signUpform p {
  font-family: "avenir";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #FFF;
  margin-top: 2em;
}

.mainContent .signUpform #formSignUpp {
  width: 20em;
  height: 60px;
  font-family: "avenir";
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  color: #7c8a96;
}

.mainContent .signUpform .joinButton {
  height: 60px;
  font-family: "avenir";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFF;
  padding: 5.5px 50px;
  background-color: #f79e02;
  border: 2px solid #f79e02;
  border-radius: 30px 30px;
  text-transform: uppercase;
}

.mainContent .lastPara {
  font-family: "avenir";
  font-size: 28px;
  letter-spacing: -1px;
  color: #FFF;
  text-align: center;
  margin-top: 1.5em;
}


/*<!-- ==================================== -->*/


/*<!-- =============END OF MAIN============ -->*/


/*<!-- ==================================== -->*/


/*Mathieu CSS*/
body {
  color: #7C8A96;
}

h3 {
  color: #36454E;
}
/*header*/

header .titrefeatures, header .pfeature{
  text-align: center;
}

header .titrefeatures {
  margin-top: 100px;
}

header .pfeature{
  margin-bottom: 100px;
}


.imganimation {
  display: flex;
}

.imganimation li {
  margin-left: 60px;
}






/*maincontainer*/

.fmaincontainer h3 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.fmaincontainer h2 {
  margin: 0;
}


.col.s12 {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


.fmaincontainer section ul li {
  display: block;
  width: 100%;
  margin: auto;
}

.col.l6.bgrouge, .col.l6.bggris  {
  padding-bottom: 0;
}

section ul li {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 20px;
}

.fmaincontainer img {
  height: auto;
  width: 500px;
}

.logof img{
  height:50px;
  width: 50px;
}

.bgnoir {
  background-color: #282B33;
  color: #FFFFFF;
}

.bgrouge {
  background-image:linear-gradient(#FA3267, #F33F3E);
  color: #FFFFFF;
  padding-bottom: 0;
}

.bggris {
  background-color: #F6F9F9;
}

.titreblanc {
  color: #FFFFFF;
}

.fullogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fullogo li{
margin-right: 30px;
}

.logotaille1 img{
  width: 30px;
  height: 30px;
}

.logotaille2 img {
  width: 120px;
  height: 120px;
}

.tailletitref {
  font-size: 50px;
  text-align: center;
}

.signup {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.features2 img, .features1 img{

  height: 200px;
  width: 100px;

}

.features2 {
  position: relative;
  left: -15%;
}

.features3 img{
width: 200px;
height: 200px;
}

.fmaincontainer a {
  color: white;
  padding: 11px 60px 10px 25px;
  background-color: rgba(255,255,255,.3);
  border-radius: 30px 30px;
  font-size: normal 16px/16px "AvenirLTStd-Heavy",Helvetica,Arial,sans-serif;

}

.fmaincontainer a:hover i{
  position: relative;
  left: 5px;
  transition: 5s;
}

.imgdeco img{
  width: 50%;
  margin: auto;
}

.imgdeco, .imgdeco2 {
  margin: auto;
  text-align: center;
}







@media (max-width: 570px) {
  .row .col.s12 {
    width: inherit;
  }

  .fmaincontainer img {

    height: auto;
    width: 100%;
  }

  .logotaille1 img{
    width: 30px;
    height: 30px;
  }

  .logotaille2 img {
    width: 120px;
    height: 120px;
  }

  .logof img{
    height:50px;
    width: 50px;
  }


}



/*End of Mathieu CSS*/


/*Ilyes CSS*/


/*End of Ilyes CSS*/


/*Sahbia*/


/*End of Sahbia CSS*/

@media (min-width: 900px) {
  body {
    margin: 16px 16px 0px 16px;
  }
  /*Mathieu CSS*/

  .col.l6 {
    padding-top:160px;
    padding-bottom: 160px;
    padding-left: 70px;
    padding-right: 70px;
  }


/*images*/

  .features3 img{
  width: 100%;
  height: auto;
  }

  .features2 img, .features1 img {

    height: 500px;
    width: auto;
  }

  .features1, .features2, .features3 {
    margin-bottom: 50px;
  }

  .features2 {
    position: relative;
    left: 0%;
  }

  .regulation {
      height: 61em;
  }



  /*End of Mathieu CSS*/
  /*~~~~~~~~~~~~~~~~~~~~~*/
  /*Ilyes CSS*/
  /*Navigation List*/
  .navnormalMobile, .burger-wrapper {
    display: none;
  }
  .navnormal {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
  }
  .navnormal ul {
    display: flex;
    list-style-type: none;
    margin-top: 1.5em;
    font-family: "avenir";
  }
  .navnormal ul li {
    margin-right: 10px;
    font-size: 20px;
  }
  .navnormal ul li a {
    color: #FFF;
    text-decoration: none;
  }
  .navnormal .signli li:nth-child(1) {
    padding-right: 40px;
    margin-top: 5px;
  }
  .navnormal .signli li:nth-child(2) {
    padding: 5.5px 25px;
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 30px 30px;
    font-size: 16px;
    margin-right: 2em;
  }
  .navnormal .signli li:nth-child(2) a {
    color: #0ce9d9;
  }
  /*~~~~~~~~~~~~~~~~~~~~~~*/
  /*Navigation Logo*/
  .navnormal .navlogo a {
    width: 47px;
    height: 42px;
  }
  .navnormal .navlogo a svg {
    fill: #FFF;
  }
  /*~~~~~~~~~~~~~~~~~~~~~~*/
  /*End of Ilyes CSS*/
  /*~~~~~~~~~~~~~~~~~~~~~*/
  /*Sahbia CSS*/
  /*End of Sahbia CSS*/
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
